<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 8;
    padding: 20px;
    display: flex;
    background-color: #004165;
    justify-content: center;
    align-items: center;
  }

  div {
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  h1 {
    color: #131313;
  }

  p {
    color: #292929;
  }
</style>

<body>
  <div>
    <h1>Acerca de</h1>
    <p>Esta es una aplicación web simple que demuestra cómo usar Express.js con VERCEL.Esta aplicación muestra cómo crear diferentes rutas, cargar datos en un sés de datos y obtener datos de una base de datos.</p>
</body>
</html>